{% extends 'base.html' %}

{% block content %}
<legend>Edit Post</legend>
<form method="POST" class="mui-form">
    {% csrf_token %}

    <div class="mui-textfield">
        <label>Title</label>
        <input type="text" name="title" placeholder="title" value="{{form.title.value}}">
    </div>

    <div class="mui-textfield">
        <label>Post Content</label>
        <textarea name="post" placeholder="content">{{form.post.value}}</textarea>
    </div>

    <div class="mui-textfield">
        <label>Slug</label>
        <input type="text" name="slug" placeholder="slug" value="{{form.slug.value}}">
    </div>

    <div class="mui-textfield">
        <label>Cover URL</label>
        <input type="text" name="cover" placeholder="cover url" value="{{form.cover.value|default:""}}">
    </div>

    <button class="mui-btn mui-btn--raised mui-btn--accent" type="submit">Save</button>
</form>
{% endblock %}
